body {
    background-color: azure;
    display: flex;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 693px; width: 632px; */
}